:root{
     --mainText: black;
     --secondaryText: rgb(37, 37, 41);

     --mainColor: rgb(171, 171, 189);
     --secondaryColor: white;

     --borderColor: rgb(32, 31, 37);
    
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
}
.header {
    text-align: center;
}


h1, h2, h3, h4, h5, h6, strong{
    color:var(--mainText);
}

p,li , span, label, input, textarea{
    color: var(--secondaryText);
}

a{
    text-decoration:none;
    color: rgb(11, 1, 160);
}

.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:auto;
    width: 50px;
    margin: auto;
}
.greeting-wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    border: 4px dashed rgb(0, 0, 0);
    min-height: 10em;
}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

<!--@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}











.footer-basic{
    display: grid;
    margin: auto;
    justify-content: space-between;
    align-content:center;
    align-content:flex-end;
}